body{
    background-color: rgb(5, 6, 45);
 }
 .contato{
     text-align: center;
 }
 ul{
     list-style-type: none;
     text-decoration: none;
 }
 a{
     text-decoration: none;
     color: #8f5f29;
 }
 h1{
     position: relative;
     left: 890px;
     top: 100px;
     color:#8f5f29;
 }
 .instagram{
     border: 3px solid #8f5f29;
     padding: 20px 30px 20px 30px;
     position: relative;
     top: 200px;
     border-radius: 15px;
     background-color: rgba(3, 90, 161, 0.219);
     transition: ease-in-out 0.3s;
 }
 .instagram:hover{
     border: 3px solid #8f5f29;
     padding: 25px 40px 25px 40px;
     position: relative;
     top: 200px;
     border-radius: 15px;
     background-color: rgba(3, 90, 161, 0.219);
     box-shadow: 0 0 15px #8f5f29;
     
 }
 .whatsapp{
     border: 3px solid #8f5f29;
     padding: 20px 35px 20px 35px;
     position: relative;
     top: 300px;
     border-radius: 15px;
     background-color: rgba(3, 90, 161, 0.219);
     transition: ease-in-out 0.3s;
     
 }
 .whatsapp:hover{
     border: 3px solid #8f5f29;
     padding: 25px 40px 25px 40px;
     position: relative;
     top: 300px;
     border-radius: 15px;
     background-color: rgba(3, 90, 161, 0.219);
     transition: ease-in-out 0.3s;
     box-shadow: 0 0 15px #8f5f29;
 }
 
 .local{
     border: 3px solid #8f5f29;
     padding: 20px;
     position: relative;
     top: 400px;
     border-radius: 15px;
     background-color: rgba(3, 90, 161, 0.219);
     transition: ease-in-out 0.3s;
 }
 .local:hover{
     border: 3px solid #8f5f29;
     padding: 25px 30px 25px 30px;
     border-radius: 15px;
     background-color: rgba(3, 90, 161, 0.219);
     
     box-shadow: 0 0 15px #8f5f29;
 }
    
 

    
.voltar{
    border: 3px solid #8f5f29;
     padding: 20px;
     position: relative;
     top: 400px;
     border-radius: 15px;
     background-color: rgba(3, 90, 161, 0.219);
     transition: ease-in-out 0.3s;
     top: -100px;
     left: 10px;


}
.voltar:hover{

    border: 3px solid #8f5f29;
    padding: 25px 40px 25px 40px;
    position: relative;
    top: -100px;
    border-radius: 15px;
    background-color: rgba(3, 90, 161, 0.219);
    transition: ease-in-out 0.3s;
    box-shadow: 0 0 15px #8f5f29;

}
    